body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #283136;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    background-color: #fb565a;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
    box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.main-navigation {
    font-weight: 500;
    line-height: 30px;
    background-color: #eeeeee;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation {
    list-style: none;
}

.site-navigation a,
.cart {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart:hover,
.cart:focus {
    color: #fb565a;
}

.site-navigation a:active,
.cart:active {
    opacity: 0.3;
    color: #000000;
}

.site-navigation-current,
.cart-current {
    border-bottom: 1px solid #fb565a;
}

.container-title {
    background-color: #eeeeee;
}

.container-title h1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
    color: #000000;
}

.slider {
    background-color: #eeeeee;
}

.slider ul {
    list-style: none;
}

.slider-slogan {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
}

.features ul {
    list-style: none;
}

.features-item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
}

.features-item:nth-child(2) .features-button {
    background-color: #00ca74;
}

.features-item:nth-child(2) .features-button:hover,
.features-item:nth-child(2) .features-button:focus {
    background-color: #00bc6c;
}

.features-item:nth-child(2) .features-button:active {
    background-color: #00aa62;
}

.features-item:last-child .features-button {
    background-color: #efc84a;
}

.features-item:last-child .features-button:hover,
.features-item:last-child .features-button:focus {
    background-color: #eab534;
}

.features-item:last-child .features-button:active {
    background-color: #e5a722;
}

.about-slogan {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}


.about-text-bold {
    font-weight: 700;
    text-transform: uppercase;
}

.about-table th {
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
    color: #000000000;
}

.about-table td {
    line-height: 18px;
}

.partners ul {
    list-style: none;
}

.partners a {
    opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
    opacity: 1;
}

.partners a:active {
    opacity: 0.1;
}

.contacts h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.contacts p {
    line-height: 18px;
}

.social {
    list-style: none;
}

.social-button {
    color: #283136;
}

.footer p {
    line-height: 22px;
}

.footer-slogan {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

.modal h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.contacts-form-item label {
    font-weight: 700;
    line-height: 18px;
    color: #000000;
}

.contacts-form-item input,
.contacts-form-item textarea {
    font: inherit;
    line-height: 18px;
    border: 2px solid #d7dcde;
}

.contacts-form-item input:hover,
.contacts-form-item textarea:hover {
    border-color: #b4b9bb;
}

.contacts-form-item input:focus,
.contacts-form-item textarea:focus {
    color: #444444;
    border-color: #000000;
}

.contacts-form-item input:invalid {
    color: #e74246;
    border-color: #e74246;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}
.filter ul {
    line-height: 20px;
    list-style: none;
}

.filter-price label,
.filter-price input {
    line-height: 22px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    opacity: 0.3;
}

.filter-button,
.catalog-button {
    color: #000000;
    background-color: #eeeeee;
}

.filter-button:hover,
.catalog-button:hover,
.filter-button:focus,
.catalog-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active,
.catalog-button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}

.catalog ul {
    list-style: none;
}

.catalog-filter-legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-filter a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-filter a:hover,
.catalog-filter a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.catalog-filter-current,
.catalog-filter a:active {
    color: #000000;
}

.catalog-list p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.catalog-list-item {
    text-align: center;
    background-color: #eeeeee;
}

.catalog-list-item .item-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-button-current {
    border: 3px solid #dbdbdb;
    background-color: #ffffff;
}
